@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

/* body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #222FE6; 
    color: white;
    font-family: "Red Hat Display";
    text-align: center;
    overflow: hidden;
} */

body {
    margin-top: 50px;
    background-color: #222FE6; 
    color: white;
    font-family: Arial, sans-serif;
    font-family: "Red Hat Display";
    overflow: hidden;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 70px;
  }
  
.profession {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
.square {
    width: 65px;
    height: 65px;
    border: 4px solid #FD7B01;
    margin-right: 20px;
  }
  
.header .profession span {
    font-size: 30px;
}
.senai{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.title {
    font-size: 140px; 
    font-weight: bold;
    line-height:120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 28%;
}

.line1{
    border: 0;
    height: 3px;
    background: #FD7B01;
    margin: 20px 0;
    width: 59%;
    margin-bottom: 30px;
}

.line2{
    border: 0;
    height: 3px;
    background: #FD7B01;
    margin: 20px 0;
    width: 36%;
    transform: rotate(90deg); 
    position: absolute; 
    top: calc(65% - 10px); 
    right: 76%; 
}

.Tm{
    font-weight:300;
}

.highlight{
    display: block; 
    align-items: center;
    padding-right: 200px;
}

.descubra {
    margin-top: 20px;
    margin-left: 440px;
    padding: 10px 20px;
    background-color: #FD7B01; 
    color: white;
    border: none;
    border-radius:60px;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
    width: 39%;
    height: 9%;
}
a{
    text-decoration: none;
    color: white;
}
