@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin-top: 50px;
    background-color: #222FE6; 
    color: white;
    font-family: Arial, sans-serif;
    font-family: "Red Hat Display";
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
  
.header {
    display: flex;
    margin:8px 70px 0px 10px;
    justify-content: space-between;
    align-items: center;
  }
  
.profession {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 27px;
  }
  
.square {
    width: 64px;
    height: 64px;
    border: 4px solid #FD7B01;
    margin-right: 20px;
}
  
.senai{
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.title {
    font-size: 145px; 
    font-weight: bold;
    line-height:120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 25%;
}

.line1{
    border: 0;
    height: 4px;
    background: #FD7B01;
    margin: 20px 0;
    width: 62%;
    margin-bottom: 30px;
}

.line2{
    border: 0;
    height: 4px;
    background: #FD7B01;
    margin: 20px 0;
    width: 36%;
    transform: rotate(90deg); 
    position: absolute; 
    top: calc(65% - 10px); 
    right: 76.4%; 
}

.Tm{
    font-weight:300;
}

.highlight{
    display: block; 
    align-items: center;
    padding-right: 200px;
}

.descubra {
    margin-top: 20px;
    margin-left: 400px;
    padding: 10px 20px;
    background-color: #FD7B01; 
    color: white;
    border: none;
    border-radius:60px;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
    width: 40%;
    height: 9%;
}
a{
    text-decoration: none;
    color: white;
}



@media (min-width: 600px) and (max-width: 900px) {
    .title {
        font-size: 100px; 
        margin-left: 15%;
    }

    .descubra {
        width: 70%; 
    }
}

 @media (min-width: 901px) {
    .header {
        flex-direction: row; 
        margin-left: 50px;
        margin-right: 70px;
    }
    .senai{
        margin-top: 15px;
    }

    .title {
        font-size: 140px; 
        margin-left: 25%; 
        margin-top: 10px;
        justify-content: center;
        align-items:flex-start ;
        font-size: 180px;
        line-height: 140px;
    }

    .descubra {
        width: 42%; 
        margin-left: 25%;
    }
    .line1{
        width: 62%;
        margin-top: 40px;
    }
    .line2{
        top: calc(70% - 1px); 
    }
    .profession{
        margin-top: 15px;
        margin-left: 20px;
    }
} 


@media (max-width: 600px) {
    .header {
        margin-left: 10px;
        margin-right: 10px;
    }

    .profession span {
        font-size: 24px; 
    }

    .square {
        width: 50px; 
        height: 50px; 
    }
}